.box{
    position: absolute;
    box-shadow: 0 0 0 2px #ec3211 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    z-index: 4;
  }
  .imageContainer{
    position: relative;
    width: 500px;
    height:auto;
    margin: 2rem auto;
  }

  .image{
    width: 500px;
    height: auto;
  }